$default: #ccc;
$primary: #2e6da4;
$success: #46EB49;
$info: #46b8da;
$warning: #eea236;
$danger: #d43f3a;







$menu: #0C5235;
$green: #52EBAB;
// $brown: #60AE8E;

// $selected-module: #48846B;
$selected-module: #185c3f;
$background-submodule: #216146;
$hover-link: #2D5242;


$main-color: darken($green, 25);
$second-color: lighten($menu, 15);
$third-color: lighten(#0C5235, 20);

$light-background-green: #14aa6b0d;
