//
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-100vh {
    height: 100vh;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.right {
    right: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}
